<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- for icons -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" />
    <!-- sidebar style -->
    <link rel="stylesheet" href="./sidebar.css">
    <link rel="stylesheet" id="section-css">
    <link rel="stylesheet" href="./style.css">

    <title id="title">Dashboard</title>
</head>
<body>

    <!-- sidebar section start -->
    <div class="sidebar">
        <div class="menu-toggle">
            <div class="hamburger">
                <span></span>
            </div>
        </div>

        <div class="top" id="top-header">Dashboard</div>
        <ul class="menu">
            <li><a href="#" data-section="overview">Overview</a></li>
            <li><a href="#" data-section="village-mgt">Village Management</a></li>
            <li><a href="#" data-section="chat">Chat</a></li>
            <li><a href="#" data-section="gallery">Gallery</a></li>
        </ul>
        <div class="user">

            <img src="../images/user.webp" alt="user image" class="user-img">
            <p class="user-name" id="userName">
                <!-- The username will be dynamically updated here -->
            </p>
            <p class="logout-btn" id="logoutButton" role="button" tabindex="0">

                Logout
            </p>
        </div>
    </div>
    <!-- sidebar section end -->

    <!-- main section start -->
    <div class="main" id="main-content">
        <!-- Main content will go here -->
    </div>
    <!-- main section end -->

   

    <!-- Sidebar JavaScript -->
    <script src="sidebar.js"></script>
    <script src="auth.js"></script>

    <script src="app.js"></script>
    <script src="data.js"></script>
    <script src="village-mgt-CURD.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"> </script>
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>

    <!-- Add Leaflet CSS -->


<!-- Add Leaflet JS -->


</body>
</html>
  
   
