<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- for icons -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <!-- siderbar style -->
     <link rel="stylesheet" href="./sidebar.css">
     <link rel="stylesheet" id="section-css">

    <title>index</title>
</head>
<body>

    <!-- siderbar section start -->
    <div class="sidebar">
        <div class="menu-toggle">
			<div class="hamburger">
				<span></span>
			</div>
		</div>
        <div class="top">Dashboard</div>
        <ul class="menu">
            <li><a href="#" data-section="overview">Overview</a></li>
            <li><a href="#" data-section="village-mgt">Village Management</a></li>
            <li><a href="#" data-section="chat">Chat</a></li>
            <li><a href="#" data-section="gallery">Gallery</a></li>
        </ul>
        <div class="user">
            <img src="../images/user2.jpeg" alt="user image" class="user-img">
            <p class="user-name">
                Noor Sabri
            </p>
            <p class="logout-btn" role="button" tabindex="0">
                Logout
            </p>
        </div>
    </div>
    
    <!-- siderbar section end -->

    <!-- main section start -->
    <div class="main" id="main-content">


    </div>
    
     <!-- main section end-->
      

     <script src="sidebar.js"></script>
</body>
</html>