/* General styling for headings */
.top-head {
    font-weight: bolder;
    font-size: 2rem;
    color: aliceblue;
    margin: 0;
}

/* Style for the statistics container */
.statistic {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 5px;
    flex-wrap: wrap;
}

/* Styling for each statistic item */
.st-item {
    border-radius: 8px;
    padding: 8px 16px;
    color: aliceblue;
    background-color: #1f2937;
    font-weight: bold;
    width: 180px;
    height: 80px;
    margin: 10px;
    align-content: center;
}

/* Styling for the text inside each statistic item */
.st-item p {
    margin: 5px;
}

/* General styling for chart containers */
.chart-canva {
    background-color: #1f2937;
    padding: 16px;
    margin: 16px;
    border-radius: 10px;
}

/* Styling for the chart title */
.chart-canva h2 {
    color: aliceblue;
    text-align: center;
    margin: 5px;
}

/* Ensure canvas takes full width of the container */
canvas {
    width: 100% !important;
    height: 300px !important;
}

/* Custom background color for the bar chart container */
.chart-canva#populationChartContainer {
    background-color: #374151; /* Change this to the desired color for the bar chart container */
    padding: 16px;
    margin: 16px;
    border-radius: 10px;
    flex: 1;
    min-width: 200px;
}
