
<div class="village-mgt">
    

    <button class="button" id="showFormBtn">Add New Village</button>

 
    <div class="view-village">
        <h2> View Village List  </h2>

        <input type="text" name="search" id="search-bar" placeholder="Search Villages..">
        <div class="Village-list-control">
            <div class="sort">
                <label>Sort By: </label>
                <select id="sort-select">
                    <option value="0" selected>Default</option>
                    <option value="1">Alphabetical</option>
                </select>
            </div>
      
            <div class="paging">
                <label>Page: </label>
                <button class="button button-cont" id="prev-page">Prev</button>
                <button class="button button-cont" id="next-page">Next</button>

            </div>
        </div>
        <div class="village-list" id="village-list">
         
        </div>
     
    </div>

</div>
