.chat .search-bar-chat {
  background-color: #ffffff;
  padding: 10px;
  width: calc(100% - (16px * 2));
  border-radius: 8px;
  border-color: transparent;
  color: #717a88;
  margin: 16px 0;
<<<<<<< HEAD
=======
  font-size: 16px;
>>>>>>> origin/Asmaa
}
.chat .div-block {
  background-color: #1f2937;
  padding: 16px;
  justify-content: center;
  margin-bottom: 16px;
  border-radius: 10px;
}
.chat .div-block h3 {
  margin-top: 0;
}
.chat .admins-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  border-radius: 10px;
}
.chat .admins-list div {
  width: 100px;
  height: 100px;
  text-align: center;
}
.chat .admins-list div img {
  width: 50px;
  border-radius: 50%;
}
.chat .admins-list div p {
  color: #9ca3af;
  margin-top: 5px;
  text-wrap: wrap;
}
.chat .chatting {
  background-color: #1f2937;
  border: 1px solid #4b5563;
  height: 250px;
  width: calc(100% - (5px * 2));
  border-radius: 10px;
  margin: 5px 0;
}
.chat textarea {
<<<<<<< HEAD
  width: calc(100% - (5px * 2));
=======
  width: calc(100% - (15px * 2));
>>>>>>> origin/Asmaa
  border-radius: 10px;
  margin: 10px 0;
  padding: 10px;
  font-size: 16px;
}
.chat button {
  background-color: #3c82f6;
  color: white;
  border-radius: 8px;
<<<<<<< HEAD
  padding: 10px 5px;
=======
  padding: 10px 10px;
>>>>>>> origin/Asmaa
  font-size: 16px;
  border: none;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.chat button:hover {
  background-color: #2a68c1;
  font-size: 18px;
  transform: scale(1.05);
}
.chat button:active {
  background-color: #1e58a3;
  transform: scale(1);
}
.chat button:focus {
  outline: none;
}
.chat button:checked {
  background-color: aliceblue;
  color: #3c82f6;
}
