.top-head {
  font-weight: bold;
  font-size: 2rem;
  color: aliceblue;
  margin: 0;
}
h2.top-head {
  font-size: 1.8rem;
  font-weight: bold;
  color: aliceblue;
  margin-bottom: 20px;
  margin-left: 1%;
}
.statistic {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 10px;
}
.st-item {
  background-color: #1f2937;
  color: aliceblue;
  padding: 16px;
  border-radius: 8px;
  font-weight: bold;
  flex: 1;
  margin: 10px;
  min-width: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.st-item p {
  margin: 5px;
}
.chart-canva {
  background-color: #1f2937;
  padding: 16px;
  margin: 16px;
  border-radius: 10px;
  flex: 1;
  min-width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.chart-canva h2 {
  color: aliceblue;
  margin: 0;
  font-size: 1.5em;
  text-align: center;
  padding-bottom: 8px;
}
.chart-canva .ageChartContainer,
.chart-canva .genderChartContainer {
  padding: 30px;
  height: 500px;
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 16px;
}
.chart-canva .populationChartContainer {
  background-color: #374151;
  height: 400px;
}
.chart-canva canvas {
  width: 100% !important;
  max-height: 500px;
  display: block;
}
.legend {
  display: flex;
  justify-content: center;
  padding: 10px 0;
  gap: 20px;
}
.map-container {
  background-color: #374151;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  width: 95%;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.map-container #map {
  height: 350px;
  width: 100%;
  border-radius: 10px;
  border: 2px solid black;
  outline: 2px solid white;
  box-sizing: border-box;
}
@media (max-width: 1200px) {
  .chart-canva .ageChartContainer,
  .chart-canva .genderChartContainer {
    height: 350px;
    width: 350px;
  }
  .chart-canva h2 {
    font-size: 1.3em;
  }
  .legend {
    font-size: 1rem;
    gap: 15px;
  }
}
@media (max-width: 768px) {
  .chart-canva .ageChartContainer,
  .chart-canva .genderChartContainer {
    height: 250px;
    width: 250px;
  }
  .chart-canva h2 {
    font-size: 1.1em;
  }
  .legend {
    font-size: 0.9rem;
    gap: 10px;
  }
}
@media (max-width: 480px) {
  .chart-canva .ageChartContainer,
  .chart-canva .genderChartContainer {
    height: 200px;
    width: 200px;
  }
  .chart-canva h2 {
    font-size: 1em;
  }
  .legend {
    font-size: 0.8rem;
    gap: 8px;
  }
}
