<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="form-overlay" id="formOverlay">
        <div class="form-container">
            <button id="closeFormBtn" class="close-btn">&times;</button>
            <h2>Add New Village</h2>
            <form id="addImageForm">
                <div class="form-group">
                    <label for="villageName">Village Name:</label>
                    <select id="villageName" name="villageName" style="width: 100%;" required>
                        <option value="" disabled selected>Select a City</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="region">Discreption: </label>
                    <input type="textarea" id="discreption" name="discreption"  required>
                </div>
                <div class="form-group">
                    <label for="image">Upload Image:</label>
                    <input type="file" id="image" name="image" accept="image/*" required>
                </div>
                <button type="submit" class="submit_btn">Add Image</button>
            </form>
        </div>
    </div>
</body>
</html>
