><!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="chat">
        <h2 class="top-head">Chat with Admins </h2>
        <input type="text" name="search-bar-chat" id="search-bar-chat" class="search-bar-chat" placeholder="Search for an Admin..">
        <div class="div-block">
            <h3 style="color:aliceblue;">Available Admins</h3>
            <div class="admins-list" id="admin-container"> 
               
            </div>
        </div>
        <div class="div-block" id="chat-block" style="display:none;">
            <h3 style="color:aliceblue;" id="chat-with">Chat with: Admin</h3>
            <div class="chatting">
            </div>
            <textarea type="text" rows="5" placeholder="Type your message.."></textarea>
            <button> Send </button>
    
        </div>
    
    </div>
    
</body>
</html>
